Repository reduxjs/redux-toolkit, pull requests merged in 2022-06, with the labels that each got.

#2004 rtk-query-codegen-openapi: use patched oazapfts for intersection type gen
  packages/rtk-query-codegen-openapi/src/index.ts
  packages/rtk-query-codegen-openapi/test/__snapshots__/generateEndpoints.test.ts.snap
  packages/rtk-query-codegen-openapi/test/fixtures/issue-2002.json
  packages/rtk-query-codegen-openapi/test/generateEndpoints.test.ts
Labels: openapi codegen

#1953 Codegen: update `hooks` to accept a boolean or granular config object
  docs/rtk-query/usage/code-generation.mdx
  packages/rtk-query-codegen-openapi/src/generate.ts
  packages/rtk-query-codegen-openapi/src/generators/react-hooks.ts
  packages/rtk-query-codegen-openapi/src/index.ts
  packages/rtk-query-codegen-openapi/src/types.ts
  packages/rtk-query-codegen-openapi/test/__snapshots__/generateEndpoints.test.ts.snap
  packages/rtk-query-codegen-openapi/test/generateEndpoints.test.ts
Labels: openapi codegen

#2071 rtk-query-codegen-openapi: If tags are specified, they are now mapped to providesTags or invalidatesTags.
  docs/rtk-query/usage/code-generation.mdx
  packages/rtk-query-codegen-openapi/src/codegen.ts
  packages/rtk-query-codegen-openapi/src/generate.ts
  packages/rtk-query-codegen-openapi/src/types.ts
  packages/rtk-query-codegen-openapi/src/utils/getOperationDefinitions.ts
  packages/rtk-query-codegen-openapi/test/__snapshots__/generateEndpoints.test.ts.snap
  packages/rtk-query-codegen-openapi/test/generateEndpoints.test.ts
Labels: openapi codegen

#2232 feat: Add graphql error customization in graphql-request-base-query
  .gitignore
  packages/rtk-query-graphql-request-base-query/src/GraphqlBaseQueryTypes.ts
  packages/rtk-query-graphql-request-base-query/src/index.ts
  packages/rtk-query-graphql-request-base-query/tsconfig.json
Labels: openapi codegen

#2225 Respect BaseQuery meta types when enhancing
  packages/toolkit/src/query/baseQueryTypes.ts
  packages/toolkit/src/query/tests/baseQueryTypes.typetest.ts
Labels: needs feedback

#2436 🚿 Renovate kitchen sink
  examples/query/react/kitchen-sink/public/mockServiceWorker.js
  examples/query/react/kitchen-sink/src/App.tsx
  examples/query/react/kitchen-sink/src/app/services/api.ts
  examples/query/react/kitchen-sink/src/app/services/counter.ts
  examples/query/react/kitchen-sink/src/app/services/post.ts
  examples/query/react/kitchen-sink/src/app/services/posts.ts
  examples/query/react/kitchen-sink/src/app/services/split/index.ts
  examples/query/react/kitchen-sink/src/app/services/split/posts.ts
  examples/query/react/kitchen-sink/src/app/services/times.ts
  examples/query/react/kitchen-sink/src/app/store.ts
  examples/query/react/kitchen-sink/src/features/auth/authSlice.ts
  examples/query/react/kitchen-sink/src/features/bundleSplitting/Post.tsx
  examples/query/react/kitchen-sink/src/features/bundleSplitting/PostsList.tsx
  examples/query/react/kitchen-sink/src/features/posts/PostDetail.tsx
  examples/query/react/kitchen-sink/src/features/posts/PostsManager.tsx
Labels: rtk-query

#2438 Add support for .cjs and .cts files in codegen cli
  packages/rtk-query-codegen-openapi/src/bin/cli.ts
Labels: openapi codegen
